<!DOCTYPE html>
<html lang="grc">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ΑΣΚΗΣΙΣ</title>
  <link rel="stylesheet" href="/c.css">
</head>
<body>
  <header>
    <h1>Η ΑΣΚΗΣΙΣ</h1>
    <p><q>πλέονες ἐξ ἀσκήσιος ἀγαθοί γίνονται ἤ ἀπὸ φύσιος.</q> <span>—Δημόκριτος</span></p>
  </header>

  <main>
    <form method="POST" action="/login/password">
      <label for="username">Email Address: </label></br>
      <input name="username" value=""></input>
      </br>

      <label for="current-password">Password: </label></br>
      <input id="current-password" name="password" type="password" autocomplete="current-password" required>
      </br>

      <button type="submit">Log In</button>
    </form>

    <!-- Link to signup form -->
    <p class="help">Don't have an account yet? <a href="/register">Sign Up</a></p>
  </main>
</body>
</html>