<!DOCTYPE html>
<html lang="grc">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ΑΣΚΗΣΙΣ</title>
  <link rel="stylesheet" href="/c.css">

  <meta property="og:image" content="/img/odeon.jpg">
  <meta property="og:description" content='A practice tracker for students of ancient Greek.'>
  <meta property="og:title" content="ΑΣΚΗΣΙΣ">
  <meta name="title" content="ΑΣΚΗΣΙΣ">
  <meta name="description" content='A practice tracker for students of ancient Greek.'>
  <meta name="author" content="Brian Hamilton">
</head>
<body>
  <header>
    <form action="/logout" method="post" class="logoutForm">
      <button type="submit">Log out</button>
    </form>
    <h1><a href="/">Η ΑΣΚΗΣΙΣ</a></h1>   
  </header>
  <main>
    <ul class="studentOverview" lang="en">
    <% for (let i = 0; i < students.length; i++) { %>
      <li class="studentOverview-student">
        <h3><a href="/teacher/<%= students[i].id %>" class="studentOverview-link"><%= students[i].fullName %></a></h3>
        <p data-trend="<%= students[i].week.trend %>"><%= students[i].week.count %> of last 7 days</p>
      </li>
    <% } %>
    </ul>
  </main>
</body>
</html>