/*	// CSS Reset
	// https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/**
GLOBAL
**/

@font-face {
  font-family: "Brill";
  src:
    local("Brill"),
    url("brill.ttf") format("truetype")
}

:root {
  font-family: "Brill", serif;
  font-size: 22px;
  line-height: 1.5;
}

[lang="en"] {
  font-size:20px;
}

body {
  padding: 2rem 5%;
}

main {
  max-width: 60ch;
}

/**
HEADER
**/

header {
  line-height: 1.1;
}

header p {
  color: #555;
}

h2 {
  color: #333;
  font-size: 1.3rem;
  margin-top: 1rem;
}

/**
PRACTICE FORM
**/

.recordPractice {
  background-color: hsl(50deg, 60%, 95%);
  box-shadow: 0px 0px 5px hsl(50deg, 20%, 65%);
  margin: .5rem 0;
  padding: .8rem;
}

.recordPractice-header {
  font-size: 1.6rem;
}

.recordPractice-answers {
  display: flex;
  gap: .3rem;
}

.recordPractice-answers label {
  background-color: hsl(50deg, 60%, 98%);
  border: 1px solid hsl(50deg, 30%, 90%);
  border-radius: 15px;
  margin: .3rem 0;
  padding: .3rem .5rem;
  width: 50%;
}

.recordPractice-answers label:hover {
  background-color: hsl(50deg, 60%, 90%);
}

.recordPractice-answers label:has(input:checked) {
  background-color: hsl(50deg, 60%, 83%);
}

.recordPractice-answers input[type="radio"] {
  width: 10%;
}
.recordPractice-addNote label {
  font-weight: bold;
  display: block;
}

.recordPractice-addNote textarea {
  background-color: hsl(50deg, 60%, 98%);
  border: 1px solid hsl(50deg, 30%, 90%);
  border-radius: 15px;
  font-size: .9rem;
  padding: .5rem;
  resize: none;
  width: 100%;
}

.recordPractice-addNote textarea:focus {
  background-color: hsl(50deg, 60%, 90%);
}

.recordPractice-submit {
  background-color: hsl(50deg, 60%, 78%);
  border: 0;
  box-shadow: 2px 2px 2px hsl(50deg, 20%, 65%);
  margin-top: .3rem;
  width: 100%;
}

.recordPractice-submit:hover {
  background-color: hsl(50deg, 60%, 83%);
}

.recordPractice-submit:active {
  transform: translateY(1px);
  box-shadow: 1px 1px 1px hsl(50deg, 20%, 65%);
}


/**
CALENDAR
**/