@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*	// CSS Reset
	// https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/** || General */

@font-face {
  font-family: "Brill";
  src:
    local("Brill"),
    url("brill.ttf") format("truetype")
}

body {
  padding: 15px;
  font-family: "Brill", "Noto Sans", sans-serif;
  font-size: 24px;
}

main,
footer {
  max-width: 700px;
  margin: auto;
}

footer {
  margin-top: 2rem;
}

/** || Header */

header {
  margin: 1rem auto 2em;
  max-width: 700px;
}

/** || Calendar */

.calendar-heading {
  border: 1px solid #eee;
  text-align: center;
  margin: 2rem 0 0;
  padding: 15px;
}

.calendar-heading a {
  color: gray;
  padding: 15px;
  text-decoration: none;
}

.calendar-heading a:hover {
  color: #8fb935;
}

.calendar {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  list-style: none;
  margin: auto;
  padding: 0;
}

.calendar li {
  background-color: #eee;
  color: #aaa;
  height: calc(100vw / 7);
  line-height: 1;
  max-height: 100px;
  padding: 10px;
  text-align: right;
}

.calendar li img {
  height: 14px;
  display: inline;
  padding-right: 4px;
  position: relative;
  top: 1px;
}

/* .calendar li:hover {
  opacity: .8;
} */

li.practiced,
li.fiddled,
li.skipped {
  color: black;
}

li[data-practiced="true"] {
  background-color: #8fb935;
  background-image: url(img/practiced.svg);
}

li.fiddled {
  background-color: #efc44e;
  background-image: url(img/fiddled.svg);
}

li[data-practiced="false"]{
  background-color: #e64747;
  background-image: url(img/skipped.svg);
}

li.today {
  background-color: #fff;
  border: 3px solid #554f56;
  color: black;
}

li.editable:hover {
  opacity: .85;
  cursor: pointer;
}

li.today.editable:hover {
  background-color: ivory;
}

li[data-this-month="false"] {
  opacity: .4;
}

/** || Student List */

.progress-tracker {
  border: 1px solid #ccc;
  border-width:0 1px 1px 0;  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin: 1.5rem 0;
}

.student {
  border: 1px solid #ccc;
  border-width: 1px 0 0 1px;
  padding: 15px;
}

.good::before,
.middling::before,
.danger::before {
  content: "█  ";
  font-size: .5rem;
  position: relative;
  bottom: 2px;
  left: 2px;
  margin-right: 8px;
}

.good::before {
  color: #8fb935;
}

.middling::before {
  color: #efc44e;
}

.danger::before {
  color: #e64747;
}