/*	// CSS Reset
	// https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/**
GLOBAL
**/

@font-face {
  font-family: "Brill";
  src:
    local("Brill"),
    url("brill.ttf") format("truetype")
}

:root {
  font-family: "Brill", serif;
  font-size: 22px;
  line-height: 1.5;
}

[lang="en"] {
  font-family: Helvetica;
  font-size:16px;
}

body {
  padding: 2rem 5%;
}

main {
  max-width: 60ch;
}

/**
HEADER
**/

header {
  line-height: 1.1;
  max-width: 60ch;
}

header a {
  color: inherit;
  text-decoration: none;
}

header p {
  color: #555;
}

h2 {
  color: #333;
  font-size: 1.3rem;
  margin-top: 1rem;
}

/**
PRACTICE FORM
**/

.recordPractice {
  background-color: hsl(50deg, 60%, 95%);
  box-shadow: 0px 0px 5px hsl(50deg, 20%, 65%);
  margin: .5rem 0;
  padding: .8rem;
}

.recordPractice-header {
  font-size: 1.6rem;
}

.recordPractice-answers {
  display: flex;
  gap: .3rem;
}

.recordPractice-answers label {
  background-color: hsl(50deg, 60%, 98%);
  border: 1px solid hsl(50deg, 30%, 90%);
  border-radius: 15px;
  margin: .3rem 0;
  padding: .3rem .5rem;
  width: 50%;
}

.recordPractice-answers label:hover {
  background-color: hsl(50deg, 60%, 90%);
}

.recordPractice-answers label:has(input:checked) {
  background-color: hsl(50deg, 60%, 83%);
}

.recordPractice-answers input[type="radio"] {
  width: 10%;
}
.recordPractice-addNote label {
  font-weight: bold;
  display: block;
}

.recordPractice-addNote textarea {
  background-color: hsl(50deg, 60%, 98%);
  border: 1px solid hsl(50deg, 30%, 90%);
  border-radius: 15px;
  font-size: .9rem;
  padding: .5rem;
  resize: none;
  width: 100%;
}

.recordPractice-addNote textarea:focus {
  background-color: hsl(50deg, 60%, 90%);
}

.recordPractice-submit {
  background-color: hsl(50deg, 60%, 78%);
  border: 0;
  box-shadow: 2px 2px 2px hsl(50deg, 20%, 65%);
  margin-top: .3rem;
  width: 100%;
}

.recordPractice-submit:hover  {
  background-color: hsl(50deg, 60%, 83%);
}

.recordPractice-submit:active  {
  transform: translateY(1px);
  box-shadow: 1px 1px 1px hsl(50deg, 20%, 65%);
}

/**
DISPLAY RECORDS
**/

.displayRecords {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #eee;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.practiceNote {
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid #eee; 
  padding-left: 1em;
}

.practiceNote-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.practiceNote-header {
  font-size: .8rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #666;
  padding: 0;
  margin: 0 0 .2rem;
}

.practiceNote-input {
  background: inherit;
  border: 0;
  display: block;
  font-size: .9rem;
  height: 5rem;
  outline-color: hsl(50deg, 60%, 35%);
  margin-left: -.3rem;
  padding: .3rem;
  resize: none;
  width: 100%;
}

.practiceNote-input::placeholder {
  font-size: .8rem;
}

.practiceNote button {
  background-color: inherit;
  border: 0;
  color: hsl(50deg, 60%, 35%);
  font-size: .8rem;
  align-self: flex-end;
}

.practiceNote button:hover {
  color: hsl(50deg, 60%, 15%);
  cursor: pointer;
}

.practiceNote span {
  display: block;
  float: right;
}

.practiceNote span a {
  color: hsl(50deg, 40%, 30%);
}

.notes-pastWeek {
  background-color: hsl(50deg, 60%, 95%);
  border: 1px solid hsl(50deg, 60%, 90%);
  margin-bottom: .5rem;
  padding: .5rem;
  width: 100%;
}

/**
CALENDAR
**/

.calendar {
  font-size: .8rem;
  margin: 1.3rem 0;
  max-width: 17.5rem; /* 7 x 2.75rem; */
}

.calendar-heading {
  font-size: .8rem;
  line-height: 1;
  margin-bottom: .5rem;
  text-align: center;
}

.calendar-changeMonth {
  color: hsl(50deg, 60%, 38%);
  padding: 0 1rem;
  text-decoration: none;
}

.calendar-list {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 2.5rem));
  list-style: none;
  padding: 0;
  justify-items: center;
}

.calendar-day:not([data-this-month="true"]) {
  visibility: hidden;
}

.calendar-day-link {
  align-items: center;
  border: 1px solid hsl(50deg, 60%, 78%);
  border-radius: calc(13vw / 2);
  color: inherit;
  display: flex;
  font-size: .6rem;
  justify-content: center;
  text-decoration: none;
  
  height: 13vw;
  width: 13vw;
  max-height: 2.5rem;
  max-width: 2.5rem;
}

.calendar-day[data-editable="true"] 
.calendar-day-link:hover {
  background-color: hsl(50deg, 60%, 88%);
  cursor: pointer;
}

.calendar-day:not([data-editable="true"]) 
.calendar-day-link:hover {
  cursor: initial;
}

.calendar-day[data-practiced="true"] 
.calendar-day-link {
  background: hsl(50deg, 60%, 78%) url(/img/practiced.svg);
}
.calendar-day[title] 
.calendar-day-link::after {
  content: "*";
}

/**
LOGOUT FORM
**/

.logoutForm {
  float: right;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

/**
STUDENT OVERVIEW
**/

.studentOverview {
  border: 1px solid #ccc;
  border-width:0 1px 1px 0;  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  list-style: none;
  margin-top: 2rem;
  padding: 0;
}

.studentOverview-student {
  border: 1px solid #ccc;
  border-width: 1px 0 0 1px;
  padding: 15px;
}

.studentOverview-link {
  color: black;
  text-decoration: none;
}

.studentOverview-link:hover {
  color: hsl(50deg, 60%, 35%);
}

p[data-trend="up"]::before {
  content: "⬆ ";
  color: green;
}

p[data-trend="even"]::before {
  content: "= ";
}

p[data-trend="down"]::before {
  content: "⬇ ";
  color: red;
}



